.view {
    max-width: 1280px;
    margin: 0 auto;
    position: relative;
}
body{
    background-color: fcfeff;
}
.w-max-900{
    width: 85vw;
    max-width: 900px;
}
.w-max-1250{
    max-width: 1250px;
}
.color-red{
    color: #ef4444;
}